RewriteEngine On
RewriteRule ^connexion/?$ connexion.php
RewriteRule ^inscription/?$ inscription.php
RewriteRule ^saisir/objet/?$ saisirobjet.php
RewriteRule ^saisir/foire/?$ saisiefoire.php
RewriteRule ^liste/utilisateur/?$ listetutilisateur.php
RewriteRule ^enregistrement/foire/?$ inscriptionfoire.php
RewriteRule ^deconnexion/?$ deconnexion.php?deco=1

#RewriteCond %{THE_REQUEST} /liste/vendeur/foire/\foire=([0-9]+)
#RewriteRule ^liste/vendeur/foire/%1?

#liste vendeur
RewriteRule ^liste/vendeur/(foire)?/?$ listeutilisateur.php
RewriteRule ^liste/vendeur/foire/([0-9]+)/?$ listeutilisateur.php?foire=$1
RewriteRule ^liste/vendeur/([0-9]+)/([0-9]+)/?$ listeutilisateur.php?iduser=$1&idfoire=$2

#saisir objet
RewriteRule ^saisir/objet/(foire)?/?$ saisirobjet.php
RewriteRule ^saisir/objet/foire/([0-9]+)/?$ saisirobjet.php?foire=$1

#Modifier objet
RewriteRule ^modifier/foire/([0-9]+)/objet/([0-9]+)/?$ modifobjet.php?foire=$1&objet=$2
RewriteRule ^modifier/objet/?$ modifobjet.php
#liste objet
RewriteRule ^liste/objet/(foire)?/?$ listeobjet.php
RewriteRule ^liste/objet/foire/([0-9]+)/?$ listeobjet.php?foire=$1

#Supprimer objet
RewriteRule ^liste/objet/foire/([0-9]+)/supprimer/([0-9]+)/?$ listeobjet.php?foire=$1&objet=$2

#Gestion Foire
RewriteRule ^gestion/?$ gestionfoire.php
RewriteRule ^gestion/foire/([0-9]+)/?$ gestionfoire.php?foire=$1

#Infos Perso
RewriteRule ^perso/?$ modifperso.php
RewriteRule ^perso/infos/?$ modifperso.php?infos=1
RewriteRule ^perso/mdp/?$ modifperso.php?mdp=1

#interdiction du dossier ressources
RewriteRule ^resources/classes - [F,L]
RewriteRule ^resources/sql - [F,L]
RewriteRule ^resources/templates - [F,L]
RewriteRule ^resources/functions.php - [F,L]
RewriteRule ^resources/config.php - [F,L]


#Errors
RewriteRule ^(403|404)/?$ /index.php?code=$1
ErrorDocument 403 /403
ErrorDocument 404 /404

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]