
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#menu {
    height: 100%;
    width: 20%;
    position: fixed;
    list-style-type: none;
}

#menu li {
    margin: 5%;

}

#menu a {
    text-decoration: none;
    color: black;
}

.messagebox {
    width: 400px;
    height: 200px;
    border-style: solid;
    background-color: lightslategray;
    display: table;
    text-align: center;
    left: 30%;
    top: 30%;

    position:relative;
}

.messagebox form{
    display: table-cell;
    vertical-align: middle;

}

#container {
    position: relative;
    display: table;
    text-align: center;
    left: 30%;
}

#inscription-form {
    position: relative;
    display: table;
    text-align: center;
    left: 30%;
}

#inscription-form label, #inscription-form input
{
    display: block;
}

#inscription-form input[type="text"]
{
    text-align: left;
}

#inscription-fom input[type="submit"]
{
    display: none;
}

label.wrong{
    border-style: solid;
    border-color: red;
    background-color: red;
}

#container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#container td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#container tr:nth-child(even) {
    background-color: #dddddd;
}

.error {
    color: red;
}